# .NET related
[Bb]in/
[Oo]bj/
*.user
*.suo
.vs/

# Angular related
node_modules/
dist/
.angular/
.vscode/

# Project data (Optional: exclude if you don't want to share your demo data)
# medicines.json
# sales.json

# OS related
.DS_Store
Thumbs.db
